@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // min-height: 100vh;
}

.sidebar-container {
    width: 250px;
    // min-height: 100vh;
    display: block;
}

.sidebar-container .sidebar {
    background-color: $bg-primary;
    min-height: 963px;
    display: block;
}

.sidebar-container .sidebar .nav-item {
    height: 44px;
    line-height: 44px;
}

.sidebar-container .sidebar .nav-item a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
}

.sidebar-container .sidebar .nav-item a:hover {
    background-color: whitesmoke;
    color: #343a40;
}

.sidebar-container .sidebar .dashboard {
    text-align: center;
    height: 64px;
    border-bottom: 1px solid;
}

.sidebar-container .sidebar .dashboard h5 {
    line-height: 64px;
    margin-bottom: 0;
}

// .sidebar-container .sidebar .list-sidebar .sidebar-item {
//     list-style: none;
// }

.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}