<div class="sidebar-container border-right bg-dark">
	{{!-- <div class="dashboard"><h5>BẢNG ĐIỀU KHIỂN</h5></div> --}}
	<div class="sidebar">
		<div class="sidebar-toggle" id="sidebarToggleBtn">
			<i class="ti-arrow-circle-right"></i>
		</div>
		<ul class="nav flex-column text-light">
			<li class="nav-item active"><a href="/root/admin"><i class="ti-user"></i>Tổng quan</a></li>
			<li class="nav-item"><a href="/root/user"><i class="ti-user"></i>Quản lý người dùng</a></li>
			<li class="nav-item"><a href="/root/account"><i class="ti-pencil-alt"></i>Quản lý tài khoản</a></li>
			<li class="nav-item"><a href="/root/department"><i class="ti-close"></i>Quản lý phòng ban</a></li>
			<li class="nav-item"><a href="/root/roles"><i class="ti-check"></i>Quản lý chức vụ</a></li>
			<li class="nav-item"><a href="/root/service"><i class="ti-user"></i>Quản lý dịch vụ</a></li>
			<li class="nav-item"><a href="/root/status"><i class="ti-user"></i>Quản lý trạng thái</a></li>
		</ul>
	</div>
	{{!-- <div class="dashboard-footer text-light">
		<div class="copyrightLine" data-text="Copyright@Hachitech">Copyright@Hachitech</div>
	</div> --}}
</div>

<script>
	let sidebarBtn = document.querySelector("#sidebarToggleBtn");
	let sidebar = document.querySelector(".sidebar-container");
	
	sidebarBtn.onclick = function(){
		sidebar.classList.toggle("active");
		sidebarBtn.classList.toggle("rotate");
	}
</script>
