<div class="sidebar-container ml-2 border border-right border-light">
	<div class="dashboard"><h5>BẢNG ĐIỀU KHIỂN</h5></div>
	<div class="sidebar">
		<div class="sidebar-toggle" id="sidebarToggleBtn">
			<i class="ti-arrow-circle-right"></i>
		</div>
		<ul class="nav flex-column text-light">
			<li class="nav-item"><a href="/admin"><i class="ti-user ml-3 mr-3"></i>Tổng quan</a></li>
			<li class="nav-item"><a href="/user"><i class="ti-user ml-3 mr-3"></i>Quản lý người dùng</a></li>
			<li class="nav-item"><a href="/account"><i class="ti-pencil-alt ml-3 mr-3"></i>Quản lý tài khoản</a></li>
			<li class="nav-item"><a href="/department"><i class="ti-close ml-3 mr-3"></i>Quản lý phòng ban</a></li>
			<li class="nav-item"><a href="/role"><i class="ti-check ml-3 mr-3"></i>Quản lý chức vụ</a></li>
			<li class="nav-item"><a href="/service"><i class="ti-user ml-3 mr-3"></i>Quản lý dịch vụ</a></li>
			<li class="nav-item"><a href="/status"><i class="ti-user ml-3 mr-3"></i>Quản lý trạng thái</a></li>
		</ul>
	</div>
	{{!-- <div class="dashboard-footer text-light">
		<div class="copyrightLine" data-text="Copyright@Hachitech">Copyright@Hachitech</div>
	</div> --}}
</div>

<script>
	let sidebarBtn = document.querySelector("#sidebarToggleBtn");
	let sidebar = document.querySelector(".sidebar-container");
	
	sidebarBtn.onclick = function(){
	sidebar.classList.toggle("active");
	sidebarBtn.classList.toggle("rotate");
}
</script>