<div class="sidebar-staff">
	<div class="dashboard-1 bg-dark">
		<h5 class="pl-5">BẢNG ĐIỀU KHIỂN</h5>
	</div>
	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<div class="nav-link btn-outline-light pl-3" id="v-pills-home-tab" data-toggle="pill">Tổng quan</div>
		<div class="nav-link btn-outline-light pl-3" id="v-pills-user-tab" data-toggle="pill">Quản lý người dùng</div>
		<div class="nav-link btn-outline-light pl-3" id="v-pills-account-tab" data-toggle="pill">Quản lý tài khoản</div>
		<div class="nav-link btn-outline-light pl-3" id="v-pills-department-tab" data-toggle="pill">Quản lý phòng ban</div>
		<div class="nav-link btn-outline-light pl-3" id="v-pills-role-tab" data-toggle="pill">Quản lý chức vụ</div>
		<div class="nav-link btn-outline-light pl-3" id="v-pills-service-tab" data-toggle="pill">Quản lý dịch vụ</div>
		<div class="nav-link btn-outline-light pl-3" id="v-pills-status-tab" data-toggle="pill">Quản lý trạng thái</div>
	</div>
</div>
