<div class="sidebar-staff">
	<div class="dashboard-1 bg-dark">
		<h5 class="pl-4">BẢNG ĐIỀU KHIỂN</h5>
	</div>
	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<ul class="nav flex-column text-light">
			<li class="nav-item"><a href="/admin"><i class="ti-user ml-3 mr-3"></i>Tổng quan</a></li>
			<li class="nav-item"><a href="/user"><i class="ti-user ml-3 mr-3"></i>Quản lý người dùng</a></li>
			<li class="nav-item"><a href="/account"><i class="ti-pencil-alt ml-3 mr-3"></i>Quản lý tài khoản</a></li>
			<li class="nav-item"><a href="/department"><i class="ti-close ml-3 mr-3"></i>Quản lý phòng ban</a></li>
			<li class="nav-item"><a href="/role"><i class="ti-check ml-3 mr-3"></i>Quản lý chức vụ</a></li>
			<li class="nav-item"><a href="/service"><i class="ti-user ml-3 mr-3"></i>Quản lý dịch vụ</a></li>
			<li class="nav-item"><a href="/status"><i class="ti-user ml-3 mr-3"></i>Quản lý trạng thái</a></li>
		</ul>
	</div>
</div>
