<div class="d-flex justify-content-center mt-3">
    <form method="POST">
        <div class="form-group">
            <label for="root-email">Email</label>
            <input type="email" class="form-control" id="root-email" aria-describedby="emailHelp" placeholder="Nhập email">
        </div>
        <div class="form-group">
            <label for="root-password">Mật khẩu</label>
            <input type="password" class="form-control" id="root-password" placeholder="Nhập mật khẩu">
        </div>
        <div class="form-group">
            <a href="root/signup">Đăng ký</a>
        </div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>    
</div>