@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    overflow: hidden;
    // width: 100vw;
    min-height: 100%;
}

ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.admin-container {
    height: 100vh;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.sidebar-container {
    position: relative;
    // top: 0;
    // left: 0;
    width: 50px;
    height: 100vh;
    background: #343a40;
    transition: all 0.5s ease;
}


.sidebar-container .sidebar {
    overflow-x: hidden;
    height: 620px;
}

.sidebar-container .dashboard{
    height: 50px;
    align-items: center;
    // margin: 5px;
    background: #343a40;
}

.sidebar-container .dashboard h5{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-family: 'VT323';
    text-align: center;
    padding-top: 10px;
    opacity: 0;
}

.sidebar-container.active .dashboard h5{
    opacity: 1;
}

.sidebar-container  .sidebar-toggle{
    position: absolute;
    top: 0.8rem;
    right: -0.4rem;
    width: 20px;
    height: 20px;
    background: #edbc64;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.rotate{
    transform: rotate(180deg);
    transition: 0.3s;
}

.sidebar-container.active{
    width: 255px;
}

.sidebar-container .sidebar .nav .nav-item {
    height: 44px;
    line-height: 44px;
}

.sidebar-container .sidebar .nav .nav-item:hover a{
    background: #fff;
    color: #000;
}

.sidebar-container .sidebar .nav .nav-item a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar-container .dashboard-footer {
    background-color: #343a40;
    height: 50px;
    // border-top: #fff 1px solid;
    transition: all 0.5s ease;
}


.sidebar-container .dashboard-footer .copyrightLine {
    color: #343a40;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    // align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    opacity: 0;
}

.sidebar-container.active .dashboard-footer .copyrightLine{
    opacity: 1;
}

.sidebar-container .dashboard-footer .copyrightLine::before {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 0.3vw , #383d52;
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
      width: 0;
    }
    70%, 90% {
      width: 180px;
    }
}  

.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

// login template
.login-template {
    // background-image: linear-gradient(to bottom right, red, yellow);
    background-color: #b89669;
    width: 100%;
    height: 100vh;
}

.login-form {
    width: 350px;
    height: 296px;
}

.img-logo {
    // background-color: #343a40;
    width: 250px;
    height: 250px;
}

.login-container {
    height: 100vh;
}


//              Content CSS     //




// @import '_variables';

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// html{
//     height: 100%;
// }

// body {
//     overflow: hidden;
//     // width: 100vw;
//     min-height: 100%;
// }

// .sidebar-container {
//     width: 64px;
//     height: 100%;
//     transition: all 0.5s ease;
// }

// .sidebar-container .sidebar {
//     background-color: $bg-primary;
//     height: 979px;
//     // overflow-y: scroll;
//     width: 64px;
//     transition: all 0.5s ease;
// }

// .sidebar-container .dashboard {
//     background-color: $bg-primary;
//     width: 64px;
//     height: 44px;
//     border-bottom: #fff 1px solid;
//     transition: all 0.5s ease;
// }

// .sidebar-container:hover,
// .sidebar-container:hover .sidebar,
// .sidebar-container:hover .dashboard,
// .sidebar-container:hover .dashboard-footer{
//     width: 264px;
//     transition: all 0.5s ease;
// }

// .sidebar-container .dashboard-footer {
//     background-color: $bg-primary;
//     height: 44px;
//     width: 64px;
//     transition: all 0.5s ease;
// }

// .manager {
//     // margin-left: 64px;
//     background-color: #343a40;
//     transition: all 0.5s ease;
// }

// .sidebar-container .dashboard h5 {
//     line-height: 44px;
// }

// #sidebar::-webkit-scrollbar {
//     width: 8px;
// }

// #sidebar::-webkit-scrollbar-thumb {
//     background: #ff024e;
//     border-radius: 10px;
// }

// #sidebar::-webkit-scrollbar-thumb:hover {
//     background: rgb(250, 3, 126);
// }



// .sidebar-container .sidebar .nav .nav-item {
//     height: 44px;
//     line-height: 44px;
// }

// .sidebar-container .sidebar .nav-item a {
//     text-decoration: none;
//     color: #fff;
//     display: inline-block;
//     width: 100%;
// }

// .sidebar-container .sidebar .nav-item a:hover {
//     background-color: whitesmoke;
//     color: #343a40;
// }

// // .sidebar-container .sidebar .list-sidebar .sidebar-item {
// //     list-style: none;
// // }

// .nav-footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
// }

// // login template
// .login-template {
//     // background-image: linear-gradient(to bottom right, red, yellow);
//     background-color: #b89669;
//     width: 100%;
//     height: 100vh;
// }

// .login-form {
//     width: 350px;
//     height: 296px;
// }

// .img-logo {
//     // background-color: #343a40;
//     width: 300px;
//     height: 300px;
// }

// .login-container {
//     height: 100vh;
// }