@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    overflow: hidden;
    // width: 100vw;
    min-height: 100%;
}

.sidebar-container {
    width: 64px;
    height: 100%;
    transition: all 0.5s ease;
}

.sidebar-container .sidebar {
    background-color: $bg-primary;
    height: 979px;
    // overflow-y: scroll;
    width: 64px;
    transition: all 0.5s ease;
}

.sidebar-container .dashboard {
    background-color: $bg-primary;
    width: 64px;
    height: 44px;
    border-bottom: #fff 1px solid;
    transition: all 0.5s ease;
}

.sidebar-container:hover,
.sidebar-container .sidebar:hover,
.sidebar-container .dashboard:hover,
.sidebar-container .dashboard-footer:hover{
    width: 264px;
    transition: all 0.5s ease;
}

.sidebar-container .dashboard-footer {
    background-color: $bg-primary;
    height: 44px;
    width: 64px;
    transition: all 0.5s ease;
}

.sidebar-container .dashboard h5 {
    line-height: 44px;
}

#sidebar::-webkit-scrollbar {
    width: 8px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: #ff024e;
    border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(250, 3, 126);
}



.sidebar-container .sidebar .nav .nav-item {
    height: 44px;
    line-height: 44px;
}

.sidebar-container .sidebar .nav-item a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
}

.sidebar-container .sidebar .nav-item a:hover {
    background-color: whitesmoke;
    color: #343a40;
}

// .sidebar-container .sidebar .list-sidebar .sidebar-item {
//     list-style: none;
// }

.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

// login template
.login-template {
    // background-image: linear-gradient(to bottom right, red, yellow);
    background-color: #343a40;
    width: 100%;
    height: 100vh;
}

.login-form {
    width: 350px;
    height: 296px;
}

.img-logo {
    background-image: linear-gradient(to bottom right, red, yellow);
}

.login-container {
    height: 440px;
}