<div class="sidebar-container">
	<div class="dashboard text-center text-light sticky-top"><h5>BẢNG ĐIỀU KHIỂN</h5></div>
	<div id="sidebar" class="sidebar">
		<ul id="nav" class="nav flex-column text-light">
			<li class="nav-item"><a href="/news"><i class="ti-user ml-3 mr-3"></i>Danh sách khách hàng mới</a></li>
			<li class="nav-item"><a href="/news"><i class="ti-user ml-3 mr-3"></i>Danh sách nhân viên</a></li>
			<li class="nav-item"><a href="/news"><i class="ti-pencil-alt ml-3 mr-3"></i>Đang xử lý</a></li>
			<li class="nav-item"><a href="/news"><i class="ti-close ml-3 mr-3"></i>Chưa hoàn thành</a></li>
			<li class="nav-item"><a href="/news"><i class="ti-check ml-3 mr-3"></i>Hoàn thành</a></li>
		</ul>
	</div>
	<div class="dashboard-footer"></div>
</div>