
<div class="d-flex" id="wrapper">
	<div class="border-end bg-white" id="sidebar-wrapper">
		<div class="sidebar-toggle" id="sidebarToggleBtn">
			<i class="ti-arrow-circle-right"></i>
		</div>
		<div class="list-group list-group-flush">
			<a
				class="list-group-item list-group-item-action list-group-item-light p-3"
				href="/business/user/customer"
			><i class="ti-user ml-3 mr-3"></i>Quản lý người dùng</a>
			<a
				class="list-group-item list-group-item-action list-group-item-light p-3"
				href="/business/user/service"
			><i class="ti-face-smile ml-3 mr-3"></i>Quản lý tài khoản</a>
			<a
				class="list-group-item list-group-item-action list-group-item-light p-3"
				href="/business/user/service-note"
			><i class="ti-briefcase ml-3 mr-3"></i>Quản lý phòng ban</a>
		</div>
	</div>
</div>

<script>
	let sidebarBtn = document.querySelector("#sidebarToggleBtn");
	let sidebar = document.querySelector("#sidebar-wrapper");
	sidebarBtn.onclick = function () {
		sidebar.classList.toggle("active"); sidebarBtn.classList.toggle("rotate");
	};
</script>
