<div class="sidebar-container">
	<div class="sidebar">
		<div class="dashboard text-light"><h5>BẢNG ĐIỀU KHIỂN</h5></div>
		<ul class="nav flex-column text-light">
			<li class="nav-item"><a href="/news"><i class="ti-user ml-3 mr-3"></i>Danh sách khách hàng mới</a></li>
			<li class="nav-item"><i class="ti-user ml-3 mr-3"></i>Danh sách nhân viên</li>
			<li class="nav-item"><i class="ti-pencil-alt ml-3 mr-3"></i>Đang xử lý</li>
			<li class="nav-item"><i class="ti-close ml-3 mr-3"></i>Chưa hoàn thành</li>
			<li class="nav-item"><i class="ti-check ml-3 mr-3"></i>Hoàn thành</li>
		</ul>
	</div>
</div>