<div class="row">
    {{> page/sidebar/sales/sidebar-manager}}
    <div class="content">
        <div class="container-fluid">
            <h1></h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Tổng quan
            </button>
        </div>
    </div>
</div>