<div class="d-flex" id="wrapper">
    {{> page/sidebar/sales/sidebar-manager}}
    <div id="page-content-wrapper">
    <!-- Top navigation-->
        <div class="contentHeader">
            <h1>Title</h1>
            <img src="/assets/img/house.png" class="logo">
            <div id="userBtn">
                <label id="userName">Dung Nguyen</label>
                <ul id = "user">
                    <li><a href="#"><i></i>Thông tin</a></li>
                    <li><a href="#"><i></i>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">Simple Sidebar</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>
                Make sure to keep all page content within the
                <code>#page-content-wrapper</code>
                . The top navbar is optional, and just for demonstration. Just create an element with the
                <code>#sidebarToggle</code>
                ID which will toggle the menu when clicked.
            </p>
        </div>
    </div>
</div>

<script>
    const userName = document.getElementById('userName');
    const user = document.getElementById('user');

    document.onclick = function(e){
        if(e.target.id !== 'userName')
        {
            user.classList.remove('active');
        }
    }

    userName.onclick = function(){
        user.classList.toggle('active');
    }
</script>