<nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Trang chu</a>
		<div class="img-container">
			{{!-- <img src="/img/uploads/customers/{{showIMG user}}" alt="">
			<a class="" href="#" data-user-id="{{showID user}}">{{show user}}</a> --}}
		</div>
	</div>
</nav>
<form id="logoutForm" action="/logout" method="POST"></form>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		var logoutBtn = document.getElementById('logoutBtn');
		var logoutForm = document.forms['logoutForm'];
		logoutBtn.addEventListener('click', () => {
			logoutForm.submit();
		})
	})
</script>