<div class="row bg-dark">
    {{> page/sidebar/admin/sidebar-admin}}
    <div class="content">
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-dark">
                <!-- Button trigger modal -->
                <a href="user/create" type="button" class="btn btn-outline-light">Thêm người dùng</a>
            </nav>
            <div class="container-fluid">
                <form>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row text-light">
                                <div class="ml-3">
                                    <div class="form-group">
                                        <label for="firstName">Họ</label>
                                        <input type="text" class="form-control form-control-sm" id="firstName" placeholder="Nhập 'Họ'">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="middleName">Tên đệm</label>
                                        <input type="text" class="form-control form-control-sm" id="middleName" placeholder="Nhập 'Tên đệm'">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="lastName">Tên</label>
                                        <input type="text" class="form-control form-control-sm" id="lastName" placeholder="Nhập 'Tên'">
                                    </div>
                                </div>
                            </div>
                            <div class="row text-light">
                                <div class="ml-3">
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Ngày sinh</label>
                                        <input type="date" class="form-control form-control-sm" id="exampleFormControlFile1">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Giới tính</label>
                                        <select class="form-control form-control-sm">
                                            <option>Chọn giới tính</option>
                                            <option value="Male">Nam</option>
                                            <option value="Female">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-light">
                                <div class="ml-3">
                                    <div class="form-group">
                                        <label for="address">Số điện thoại</label>
                                        <input type="tel" class="form-control form-control-sm" id="address" placeholder="Nhập số điện thoại">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="address">Email</label>
                                        <input type="email" class="form-control form-control-sm" id="address" placeholder="Nhập email">
                                    </div>
                                </div>
                            </div>
                            <div class="row text-light">
                                <div class="ml-3">
                                    <div class="form-group">
                                        <label for="address">Địa chỉ</label>
                                        <input type="text" class="form-control form-control-sm" id="address" placeholder="Nhập địa chỉ, tên đường">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="address">Phường/xã</label>
                                        <input type="text" class="form-control form-control-sm" id="address" placeholder="Nhập phường/xã">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="address">Quận/huyện</label>
                                        <input type="text" class="form-control form-control-sm" id="address" placeholder="Nhập quận/huyện">
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <div class="form-group">
                                        <label for="address">Tỉnh/thành phố</label>
                                        <input type="text" class="form-control form-control-sm" id="address" placeholder="Nhập tỉnh/thành phố">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="img-frame">
                                <img src="..." class="rounded mx-auto d-block" alt="...">
                            </div>
                            <div class="form-group text-light mt-3">
                                <label for="exampleFormControlFile1">Hình ảnh</label>
                                <input type="file" class="form-control-file form-control-sm" id="exampleFormControlFile1">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Tạo người dùng</button>
                </form>
            </div>
        </div>
    </div>
</div>