<div class="bg-dark text-light admin-container">
    <div class="row">
        <div class="col-lg-2">
            {{> page/sidebar/admin/sidebar-admin}}
        </div>
        <div class="col-lg-10">
            <nav class="navbar navbar-light bg-dark">
                <!-- Button trigger modal -->
                <a href="user/create" type="button" class="btn btn-outline-light">Thêm người dùng</a>
            </nav>
            <div class="container-fluid">
                <form>
                    <div class="row">
                        <div class="row">
                            <div class="form-group">
                                <label for="firstName">Họ</label>
                                <input type="text" class="form-control form-control-sm" id="firstName" placeholder="Nhập 'Họ' của bạn...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="middleName">Tên đệm</label>
                                <input type="text" class="form-control form-control-sm" id="middleName" placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="lastName">Tên</label>
                                <input type="password" class="form-control form-control-sm" id="lastName" placeholder="Password">
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3">
                            
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Hình ảnh</label>
                                <input type="file" class="form-control-file form-control-sm" id="exampleFormControlFile1" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="exampleFormControlFile1">Ngày sinh</label>
                            <input type="date" class="form-control form-control-sm" id="exampleFormControlFile1">
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleFormControlFile1">Giới tính</label>
                            <select class="form-control form-control-sm">
                                <option>Chọn giới tính</option>
                                <option value="Male">Nam</option>
                                <option value="Female">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control form-control-sm" id="address" placeholder="Nhập địa chỉ">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>