<div class="bg-dark text-light admin-container">
    <div class="row">
        <div class="col-lg-2">
            {{> page/sidebar/admin/sidebar-admin}}
        </div>
        <div class="col-lg-10">
            <nav class="navbar navbar-light bg-dark">
                <!-- Button trigger modal -->
                <a href="user/create" type="button" class="btn btn-outline-light">Tạo dữ liệu người dùng</a>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 mt-3">
                        <a href="">
                            <div class="card border-light bg-dark mb-3">
                                <div class="card-header">Thông tin người dùng</div>
                                <div class="card-body">
                                    <h5 class="card-title">Nguyễn Văn A</h5>
                                    <p class="card-text">Nơi sinh thành phố hồ chí minh</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>