<div class="row bg-dark">
    {{> page/sidebar/admin/sidebar-admin}}
    <div class="content">
        {{!-- <div class="container-fluid mt-3">
            <a type="button" class="btn btn-primary" href="/user/create">
                Tạo thông tin người dùng
            </a>
            
        </div> --}}
        <h1 class="text-light">USER DASHBOARD</h1>
    </div>
</div>

