<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        {{> page/sidebar/sales/sidebar-staff}}
        <div id="page-content-wrapper">
            <nav id="sub-nav-lg" class="navbar taskbar justify-content-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal"
                    data-bs-target="#create-customer">
                    <i class="ti-plus"></i> Tạo phiếu dịch vụ
                </button>
            </nav>
            <div class="container-fluid mt-3">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>