<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">

	</div>
	<h3 class="title text-light">Quản lý khách hàng</h3>
	{{> page/sidebar/business/sidebar-manager-business}}

	<div class="stask">
		<!-- Button trigger modal -->
		<a href="/business/manager/service-note" type="button" class="btn btn-primary btn-create">
			<i class="ti-receipt"></i> Phiếu dịch vụ
		</a>
		<!-- Button trigger modal -->
		<button data-bs-toggle="modal" data-bs-target="#create-customer-modal" class="btn btn-primary btn-create">
			<i class="ti-plus"></i>
		</button>
	</div>
</nav>