<div class="row">
    {{> page/sidebar/sales/sidebar-manager}}
    <div class="content">
        <div class="contentHeader">
            <h1>Title</h1>
            <div class="logo"></div>
            <div class="userBtn"></div>
        </div>
    </div>
</div>