<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        {{> page/sidebar/sales/sidebar-staff}}
        <div id="page-content-wrapper">
            <nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
                <div class="title">
					<a href="/business/employ/customers" class="text-light"><i class="ti-back-left"></i> Quay lại</a>
				</div>
                <h3 class="title text-light">Quản lý phiếu dịch vụ</h3>
				<div class="stask">
                    
                </div>
            </nav>
            <div class="container-fluid mt-3">
                {{!-- {{#each cards}} --}}
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </div>
</body>

</html>