<div class="nav-mobile sidebar text-light">
	<ul class="nav-bottom sidebar-list">
		<li class="list active">
			<a href="/reception/employ/service-note">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-receipt"></i></span>
				<span class="nav-text sidebar-text">Dịch vụ</span>
			</a>
		</li>
	</ul>
</div>

<script>
	const list = document.querySelectorAll('.list');
	function activeTab(){
		list.forEach((item) =>
		item.classList.remove('active'));
		this.classList.add('active')
	}
	list.forEach((item) =>
	item.addEventListener('click',activeTab))
</script>