<div class="nav-mobile sidebar text-light">
	<ul class="nav-bottom sidebar-list">
		<li class="list active">
			<a href="/business/employ/service-note">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-receipt"></i></span>
				<span class="nav-text sidebar-text">Dịch vụ</span>
			</a>
		</li>
		<li class="list">
			<a href="/business/employ/customers">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-user"></i></span>
				<span class="nav-text sidebar-text">Khách hàng</span>
			</a>
		</li>
		<li class="list">
			<a href="/business/employ">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-bar-chart"></i></span>
				<span class="nav-text sidebar-text">Báo cáo</span>
			</a>
		</li>
	</ul>
</div>

<script>
	const list = document.querySelectorAll('.list');
	function activeTab(){
		list.forEach((item) =>
		item.classList.remove('active'));
		this.classList.add('active')
	}
	list.forEach((item) =>
	item.addEventListener('click',activeTab))
</script>