
<div class="d-flex" id="wrapper">
	<div class="border-end" id="sidebar-wrapper">
		<div class="sidebar-toggle" id="sidebarToggleBtn">
			<i class="ti-arrow-circle-right"></i>
		</div>
		<div class="list-group list-group-flush">
			<div class="text-center text-white pt-2 pb-2"><h3>Bảng điều khiển</h3></div>
			<a
				class="list-group-item p-3 sidebar-menu"
				href="/operating/doctor"
			><i class="ti-user ml-3 mr-3"></i>Tổng quan</a>
			<a
				class="list-group-item p-3 sidebar-menu"
				href="/operating/doctor/customer"
			><i class="ti-face-smile ml-3 mr-3"></i>Quản lý khách hàng</a>
			<a
				class="list-group-item p-3 sidebar-menu"
				href="/operating/doctor/service-note"
			><i class="ti-briefcase ml-3 mr-3"></i>Quản lý phiếu dịch vụ</a>
		</div>
		<div class="list-group list-group-flush">
			<div class="text-center text-white pt-2 pb-2"><h3>Manager</h3></div>
			<a
				class="list-group-item p-3 sidebar-menu"
				href="/operating/nursing"
			><i class="ti-user ml-3 mr-3"></i>Tổng quan</a>
			<a
				class="list-group-item p-3 sidebar-menu"
				href="/operating/nursing/customer"
			><i class="ti-face-smile ml-3 mr-3"></i>Quản lý khách hàng</a>
			<a
				class="list-group-item p-3 sidebar-menu"
				href="/operating/nursing/service-note"
			><i class="ti-briefcase ml-3 mr-3"></i>Quản lý phiếu dịch vụ</a>
		</div>
	</div>
</div>

<script>
	let sidebarBtn = document.querySelector("#sidebarToggleBtn");
	let sidebar = document.querySelector("#sidebar-wrapper");
	sidebarBtn.onclick = function () {
		sidebar.classList.toggle("active"); sidebarBtn.classList.toggle("rotate");
	};
</script>
